<style>

    :host {
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: 14px;
        color: #333;
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      
        h2 {
        margin-left: 10px;
        font-family: "Arial", "serif";
        font-weight: bold;
        font-size: 30px;
        margin-top:160px;
        color: black;
      }

        .toolbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 80px;
        display: flex;
        align-items: center;
        background-color: #e3e9f0;
        color: rgb(0, 0, 0);
        font-weight: 600;
        font-weight: normal;
        text-shadow: 0.2em 0.3em 0.4em;
        font-size: 35px;
      }
    
      .toolbar img {
        margin: 0 16px;
      }
    
      .T-etnia{
        background-color: #5a4ef7;
        display: flex;
        padding: 8px 25px;
        border: 3px solid rgb(255, 255, 255);
        font-weight: 450;
        font-family: Arial,sans-serif;
        font-size: 17px;
        color:white;
        text-shadow: 0.0em 0.0em 0.0em;
        margin-top: 150px;
        margin-left:-1250px;
      }

      .button{
        background-color: #5a4ef7;
        display: flex;
        align-items: center;
        padding: 8px 15px;
        border: 3px solid rgb(255, 255, 255);
        border-radius: 60px;
        margin-left: 700px;
        font-weight: 450;
        font-family: Arial,sans-serif;
        font-size: 17px;
        text-shadow: 0.0em 0.0em 0.0em;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }

      .button:hover{
        transform: translateY(-3px);
        box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
      }

      .fuente{
        font-size:23px;
        color:black;
        margin-top:-13px;
        margin-left:10px;
        font-family: Arial, serif;
        font-weight: bold;
      }

      div.vertical-line{
        border-left: 1px solid rgb(166, 166, 168);
        height: 470px;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        margin-top: -70px;
      }

       hr {
        width: 105%;
        color: rgb(185, 185, 245);
        margin-right: 0px;
        margin-top: 50px;
      }

      .ET-container{
        position: absolute;
        top: 49.8%;
        right: 6%;
        width: 515px;
      }
    
      .fuente-dos{
        font-size:23px;
        color:black;
        margin-top:-13px;
        margin-left:10px;
        font-family: Arial, serif;
        font-weight: bold;
        position: absolute;
        top: 34.5%;
        right: 90%;
      }

      a{
      text-decoration:none;
      }


    </style>
    
    <div class="toolbar" role="banner">
        <div style= "margin-left: 200px;">
      <span>E  C  U  A  V  I  D</span>
    </div>
      <img width="60" src="assets/Logo.jpg"/>
      <a class="button" style= color:#e3e9f0; href="#" [routerLink]="['/home']">Atrás</a>

      <div class=T-etnia>
        <span>Etnia</span>
      </div>
    </div>

    
    <h2>Mestizos</h2>
    <div class=fuente>
    <span>Total - Hoy</span>

    <div class=vertical-line></div>

    <div class="E-container">
      <div style="width: 40%;">
       <div style="margin-left: 5px;">
        <div style="margin-top: 20px;">
       <canvas baseChart 
           [datasets]="lineChartDataEM" 
           [labels]="lineChartLabelsE" 
           [options]="lineChartOptionsE"
           [colors]="lineChartColorsEH" 
           [legend]="lineChartLegendE" 
           [chartType]="lineChartTypeE" 
           [plugins]="lineChartPluginsE"
           (chartHover)="chartHoveredE($event)" 
           (chartClick)="chartClickedE($event)">
       </canvas>

     <hr/>

     
       <div style=margin-top:-110px;>
      <h2>Indígenas</h2>
      <div class=fuente>
      <span>Total - Hoy</span>

      <div class=vertical-line></div>
      <div style=margin-top:10px;>
      <canvas baseChart 
      [datasets]="lineChartDataEI" 
      [labels]="lineChartLabelsE" 
      [options]="lineChartOptionsE"
      [colors]="lineChartColorsEH" 
      [legend]="lineChartLegendE" 
      [chartType]="lineChartTypeE" 
      [plugins]="lineChartPluginsE"
      (chartHover)="chartHoveredE($event)" 
      (chartClick)="chartClickedE($event)">
  </canvas>

  <hr/>

    <div style=margin-top:-110px;>
   <h2>Asiáticos</h2>
   <div class=fuente>
   <span>Total - Hoy</span>

   <div class=vertical-line></div>
   <div style=margin-top:10px;>
     <canvas baseChart 
     [datasets]="lineChartDataEA" 
     [labels]="lineChartLabelsE" 
     [options]="lineChartOptionsE"
     [colors]="lineChartColorsEH" 
     [legend]="lineChartLegendE" 
     [chartType]="lineChartTypeE" 
     [plugins]="lineChartPluginsE"
     (chartHover)="chartHoveredE($event)" 
     (chartClick)="chartClickedE($event)">
 </canvas>

 <hr/>

 
   <div style=margin-top:-110px;>
  <h2>Afrodescendientes</h2>
  <div class=fuente>
  <span>Total - Hoy</span>

  <div class=vertical-line></div>
  <div style=margin-top:10px;>
     <canvas baseChart 
     [datasets]="lineChartDataEAf" 
     [labels]="lineChartLabelsE" 
     [options]="lineChartOptionsE"
     [colors]="lineChartColorsEH" 
     [legend]="lineChartLegendE" 
     [chartType]="lineChartTypeE" 
     [plugins]="lineChartPluginsE"
     (chartHover)="chartHoveredE($event)" 
     (chartClick)="chartClickedE($event)">
 </canvas>

 <hr/>
 
   <div style=margin-top:-110px;>
  <h2>Blancos</h2>
  <div class=fuente>
  <span>Total - Hoy</span>

  <div class=vertical-line></div>
  <div style=margin-top:10px;>
     <canvas baseChart 
     [datasets]="lineChartDataEB" 
     [labels]="lineChartLabelsE" 
     [options]="lineChartOptionsE"
     [colors]="lineChartColorsEH" 
     [legend]="lineChartLegendE" 
     [chartType]="lineChartTypeE" 
     [plugins]="lineChartPluginsE"
     (chartHover)="chartHoveredE($event)" 
     (chartClick)="chartClickedE($event)">
 </canvas>
 
 <div class="ET-container">   
  <div class=fuente>
    <div style="margin-top: -110px">
    <span>Total</span>
  <div style="margin-top:16px;">
       <canvas baseChart 
           [datasets]="lineChartDataEMT" 
           [labels]="lineChartLabelsET" 
           [options]="lineChartOptionsE"
           [colors]="lineChartColorsET" 
           [legend]="lineChartLegendE" 
           [chartType]="lineChartTypeE" 
           [plugins]="lineChartPluginsE"
           (chartHover)="chartHoveredE($event)" 
           (chartClick)="chartClickedE($event)">
       </canvas>

       <hr/>
       <div class=fuente>
        <div style="margin-top: 130px">
        <span>Total</span>
       <div style="margin-top:0px;">
      <canvas baseChart 
      [datasets]="lineChartDataEIT" 
      [labels]="lineChartLabelsET" 
      [options]="lineChartOptionsE"
      [colors]="lineChartColorsET" 
      [legend]="lineChartLegendE" 
      [chartType]="lineChartTypeE" 
      [plugins]="lineChartPluginsE"
      (chartHover)="chartHoveredE($event)" 
      (chartClick)="chartClickedE($event)">
  </canvas>

        <hr/>
        <div class=fuente>
          <div style="margin-top: 127px">
          <span>Total</span>
        <div style="margin-top:0px;">
          <canvas baseChart 
          [datasets]="lineChartDataAT" 
          [labels]="lineChartLabelsET" 
          [options]="lineChartOptionsE"
          [colors]="lineChartColorsET" 
          [legend]="lineChartLegendE" 
          [chartType]="lineChartTypeE" 
          [plugins]="lineChartPluginsE"
          (chartHover)="chartHoveredE($event)" 
          (chartClick)="chartClickedE($event)">
      </canvas>

      <hr/>
      <div class=fuente>
        <div style="margin-top: 130px">
        <span>Total</span>
      <div style="margin-top:0px;">
        <canvas baseChart 
        [datasets]="lineChartDataEAfT" 
        [labels]="lineChartLabelsET" 
        [options]="lineChartOptionsE"
        [colors]="lineChartColorsET" 
        [legend]="lineChartLegendE" 
        [chartType]="lineChartTypeE" 
        [plugins]="lineChartPluginsE"
        (chartHover)="chartHoveredE($event)" 
        (chartClick)="chartClickedE($event)">
    </canvas>

    <hr/>
    <div class=fuente>
      <div style="margin-top: 140px">
      <span>Total</span>
      <div style="margin-top:-11px;">
        <canvas baseChart 
        [datasets]="lineChartDataEBT" 
        [labels]="lineChartLabelsET" 
        [options]="lineChartOptionsE"
        [colors]="lineChartColorsET" 
        [legend]="lineChartLegendE" 
        [chartType]="lineChartTypeE" 
        [plugins]="lineChartPluginsE"
        (chartHover)="chartHoveredE($event)" 
        (chartClick)="chartClickedE($event)">
    </canvas>

        </div>
  
      
    
