
<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2 {
    margin-left: -179px;
    font-family: "Arial", "serif";
    font-weight: normal;
    font-size: 30px
  }
  
  h3,
  h4,
  h5,
  h6 {
    margin-left: 8px;

  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  div.vertical-line{
    border-left: 1px solid rgb(166, 166, 168);
  height: 850px;
  position: absolute;
  left: 20%;
  margin-left: -3px;
  margin-top: -130px;
    }
    
    hr {
      width: 65%;
      color: rgb(185, 185, 245);
      margin-right: 0px;
      margin-top: 50px;
    }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #e3e9f0;
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-weight: normal;
    text-shadow: 0.2em 0.3em 0.4em;
    font-size: 35px;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .card svg.material-icons path {
    fill: rgb(56, 46, 187);
  }

  .card-container {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -735px;
  }

  .card {
    border: 3px solid rgb(76, 86, 235);
    background-color: #fafafa;
    height: 40px;
    width: 90px;
    margin: 0 80px 16px;
    padding: 12px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
    margin-right: 1100px;
    font-size: 28px;
    margin-top: 35px;
  }

.button{
  background-color: #5a4ef7;
    display: flex;
    align-items: center;
    padding: 8px 15px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 60px;
    margin-left: 700px;
    font-weight: 450;
    font-family: Arial,sans-serif;
    font-size: 17px;
    text-shadow: 0.0em 0.0em 0.0em;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

  .card-container .card:not(:last-child) {
    margin-right: 0;
  }

  .card.card-small {
    height: 16px;
    width: 168px;
  }

  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }

  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .button:hover{
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .card.card.highlight-card span {
    margin-left: 60px;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }

    .card.highlight-card span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
    <div style= "margin-left: 200px;">
  <span>E  C  U  A  V  I  D</span>
</div>
  <img width="60" src="assets/Logo.jpg"/>
      <a class="button" style= color:#e3e9f0; href="#" [routerLink]="['/login']">Administrador</a>
      <div style="margin-left: -950px;">
      <a class="button" style= color:#e3e9f0; href="#" [routerLink]="['/vista']">Usuario</a>
    </div>
</div>

 <!-- Resources -->
<div class="content" role="main">
  <div style= "margin-top:30px;">
  <div style="color: rgb(99, 93, 93);">
    <div style= "margin-left: 330px;"> 
  <p>Las cifras de las personas afectadas por COVID-19 se irán actualizando a diario.</p>
  <p>De igual manera, para fines estadísticos, los datos de las categorías estarán representados</p>
  <p>por un gráfico lineal.</p>
</div>
</div>

<div class="Mensual-container">
 <div style="width: 75%;">
  <div style="margin-left: 323px;">
  <canvas baseChart 
      [datasets]="lineChartData" 
      [labels]="lineChartLabels" 
      [options]="lineChartOptions"
      [colors]="lineChartColors" 
      [legend]="lineChartLegend" 
      [chartType]="lineChartType" 
      [plugins]="lineChartPlugins"
      (chartHover)="chartHovered($event)" 
      (chartClick)="chartClicked($event)">
  </canvas>
</div>

<hr/>

<div class="Diario-container">
  <div style="width: 101%;">
   <div style="margin-left: 330px;">
    <div style="margin-top: 60px;">
   <canvas baseChart 
       [datasets]="lineChartDataD" 
       [labels]="lineChartLabelsD" 
       [options]="lineChartOptionsD"
       [colors]="lineChartColorsD" 
       [legend]="lineChartLegendD" 
       [chartType]="lineChartTypeD" 
       [plugins]="lineChartPluginsD"
       (chartHover)="chartHoveredD($event)" 
       (chartClick)="chartClickedD($event)">
   </canvas>
  </div> 
 </div>
 <button id="addData" *ngIf="">Agregar mes</button>
    <!--Lines-->
  <div class="card-container">
    <div class="vertical-line" role="main">
       <h2>Categorías</h2>

    </div>
    <a class="card" href="#" [routerLink]="['/etnia']">
      <div style= "margin-left: 15px;"> 
      <span>Etnia</span>
      <div style= "margin-left: 90px;">
        <div style= "margin-top: -21px;">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    
    </div>
  </div>
</div>
    </a>

    <a class="card" href="#" [routerLink]="['/clase-s']">
      <div style= "font-size:30px;">
        <div style= "margin-top: -13px;">
          <div style= "margin-left: 15px;">
      <span>Clase Social</span>
      <div style= "margin-left: 90px;">
        <div style= "margin-top: -30px;">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </div>
  </div>
</div>
</div>
</div>
    </a>

    <a class="card" href="#" [routerLink]="['/region']">
      <div style= "margin-left: 15px;">
      <span>Región</span>
      <div style= "font-size:30px;"> 
        <div style= "margin-left: 90px;">
          <div style= "margin-top: -21px;">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </div>
  </div>
  </div>
</div>
    </a>

    <a class="card" href="#" [routerLink]="['/genero']">
      <div style= "margin-left: 15px;">
      <span>Género</span>
      <div style= "font-size:30px;">
        <div style= "margin-top: -20px;">
          <div style= "margin-left: 90px;">
      <svg class="material-icons" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
    </div>
  </div>
  </div>
  </div>
    </a>
  </div>
  </div>

  